<!-- Config file for the game -->

<config>
  <directional_inputs>
    <hadowken>
      <input value ="down"/>
      <input value ="right"/>
      <input value ="punch"/>
    </hadowken>
    <tatsumaki>
      <input value ="down"/>
      <input value ="left"/>
      <input value ="kick"/>
    </tatsumaki>
  </directional_inputs>
</config>